*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.signup-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* Makes sure the container occupies the whole view port */
  height: 100vh;
}

.flex-col {
  flex: 1;
  flex-basis: 50%;
  /* flex: 0 0 50%; */
}

.signup-content {
  flex: 1;
  flex-basis: 50%;
}

.signup-container {
  display: flex;
  flex-direction: column;
  /* Center the content in the container */
  justify-content: center;
  align-items: center;
  /* Add some space between the elements */
  gap: 15px;
  height: 100%;
  margin-top: 10px;
  overflow: auto; /* enable scrollbar */
}

.form-control.signup-input {
  width: 15rem;
}

.form-control.signup-input-personal {
  width: 31.5rem;
}

.signup-button {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  width: 25rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 150px);
}