.setBackGroundSignUp {
  background: url("../../assets-pack/signup/bckImage.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.signup-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* Makes sure the container occupies the whole view port */
  height: 100vh;
}

.flex-col {
  flex: 1;
  flex-basis: 50%;
  /* flex: 0 0 50%; */
}

.signup-content {
  flex: 1;
  flex-basis: 50%;
}

.signup-container {
  display: flex;
  flex-direction: column;
  /* Center the content in the container */
  justify-content: center;
  align-items: center;
  /* Add some space between the elements */
  gap: 15px;
  height: 100%;
  margin-top: 10px;
  overflow: auto; /* enable scrollbar */
}

.form-control.signup-input {
  width: 15rem;
}

.form-control.signup-input-personal {
  width: 21.5rem;
}
.form-control.custom-dropdown-width {
  width: 100% !important;
}

.form-control.signup-input-email {
  width: 31.5rem;
}

@media (max-width: 767px) { 
  .form-control.signup-input-email {
    width: 21rem;
  }
  .form-control.signup-input {
    width: 21rem;
  }
  .form-control.signup-input-personal {
    width: 21rem;
  }
}
@media (max-width: 576px) { 
  .form-control.signup-input-email {
    width: 20rem;
  }
  .form-control.signup-input {
    width: 20rem;
  }
  .form-control.signup-input-personal {
    width: 20rem;
  }
}

.form-control.custom-dropdown-width .dropdown-menu {
  width: 31.5rem;
}

.signup-button {
  width: 32rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 150px);
}

@media (max-width: 425px) {
  .image-container {
    height: 100vh;
    width: 125vw;
    overflow: hidden;
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 375px) {
  .image-container {
    height: 100vh;
    width: 140.5vw;
    overflow: hidden;
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 320px) {
  .image-container {
    height: 100vh;
    width: 165vw;
    overflow: hidden;
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
