.myAccount-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  padding: 50px;
}

.myCardColorAccount {
  background: #C33764;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.setSizeForNavBox {
  width: 260px !important;
  border-radius: 5px;
}

.setNavText:hover {
    /* text-decoration: underline;
    text-decoration-thickness: 6px;
    text-decoration-color: #d5202d;
    text-underline-offset: 16px; */
    cursor: pointer;
}

.account-ul {
  list-style: none; /* removes bullet points */
  padding: 0; /* removes padding */
  margin: 0; /* removes margin */
  display: flex; /* enables flexbox layout */
  flex-direction: column; /* stacks items vertically */
  
}

/* .account-li {
  margin: 10px;
} */

.Account-label {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  display: block;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-top: 20px;
}

.ticket-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 30px;
  width: 800px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ticket-card .title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.ticket-card .description {
  font-size: 14px;
  margin-bottom: 10px;
}

.ticket-card .footer {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #666;
}
.ticket-card myAccount-button {
  width: 18rem;
}

.flex-column-nav {
  display: flex;
  flex-direction: column;
}

.nav-item{
  font-size: 16px;
  margin: 5px;
}