.setBackGround {
  background: url("../../assets-pack/login/bckImage.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: 100%;
}

.makeLoginCardBackground {
  color: #000000;
}

.loginLogo {
  width: 290px;
  overflow: unset;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.flex-column {
  flex: 1;
  flex-basis: 50%;
  /* flex: 0 0 50%; */
  /* background-color: blue; */
}

.login-content {
  flex: 1;
  flex-basis: 50%;
}

.cursorPointer {
  cursor: pointer;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 100%;
  margin-top: 10px;
}

.image-fit {
  width: 100%;
  object-fit: cover;
  height: 100vh; 
  transition: clip-path 1s;
}

.login-button {
  width: 18rem;
}

.form-control.login-input {
  width: 18rem;
}