*,
*::before,
*::after {
  box-sizing: border-box;
}

.login-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-column {
  flex: 1;
  flex-basis: 50%;
  /* flex: 0 0 50%; */
  background-color: blue;
}

.login-content {
  flex: 1;
  flex-basis: 50%;
  background-color: green;
}

.image-fit {
  width: 100%;
  height: auto;
}
