*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.login-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* Makes sure the container occupies the whole view port */
  height: 100vh;
}

.flex-column {
  flex: 1;
  flex-basis: 50%;
  /* flex: 0 0 50%; */
  background-color: blue;
}

.login-content {
  flex: 1;
  flex-basis: 50%;
}

.login-container {
  display: flex;
  flex-direction: column;
  /* Center the content in the container */
  justify-content: center;
  align-items: center;
  /* Add some space between the elements */
  gap: 15px;
  height: 100%;
  margin-top: 100px;
}

.image-fit {
  width: 100%;
  object-fit: cover;
  height: 100vh; 
}

.login-button {
  width: 18rem;
}

.form-control.login-input {
  width: 18rem;
}