*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.create-event-container {
    display: flex;
    flex-direction: column;
    padding: 50px;
    /* align-items: center; */
    /* text-align: center; */
}

.custom-dropdown {
  background-color: #f1f1f1;
  border-color: #ccc;
  color: #333;
}

